BOT_NAME="Wordventure"
BOT_TOKEN=your-telegram-token-here
DICTIONARY_BASE_API=https://api.dictionaryapi.dev/api

# This is the base URL of your app (such as https://example.com). If you're using ngrok for local development, you can insert the ngrok URL here for testing purposes.
APP_BASE_URL=your-app-url

APP_USE_WEBHOOK='true'
APP_PORT=3000


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:@localhost:5432/wordventure?schema=public"